body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  width: fit-content;
  margin: 10px auto;
  transition: 0.5s;
}
.todo-list {
  display: grid;
  transition: 0.5s;
}
@media (max-width: 799px) {
  .todo-list {
    grid-template-columns: repeat(1, 400px);
  }
}
@media (min-width: 800px) {
  .todo-list {
    grid-template-columns: repeat(2, 400px);
  }
}
@media (min-width: 1200px) {
  .todo-list {
    grid-template-columns: repeat(3, 400px);
  }
}
@media (min-width: 1600px) {
  .todo-list {
    grid-template-columns: repeat(4, 400px);
  }
}

.todo-card {
  background-color: #fcf1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 220px;
  text-align: center;
  border-radius: 10px;
  text-transform: capitalize;
  margin: 20px;
  box-shadow: 0px 1px 7px #e2d3d3;
  transition: 0.5s;
}
.todo-card h2 {
  font-size: 25px;
  margin: 0;
}
.todo-card span {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.todo-card button {
  width: fit-content;
  margin: 8px auto;
}

button {
  margin: 5px 10px;
  border-style: solid;
  border-width: 1px;
  color: white;
  border-radius: 10px;
  padding: 5px 18px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

button:hover {
  transform: scale(1.08);
  transition: 0.3s;
}
.complete {
  border-color: #048d03;
  background-color: #2cc131;
}
.delete {
  border-color: #274227;
  background-color: #a44040;
}

.current input {
  padding: 10px 8px;
  border-radius: 10px;
  margin: 0 10px;
  border: 2px solid #977aff5e;
  text-align: center;
}
.current input:first-child {
  font-size: 18px;
}
.current input:first-child::placeholder {
  font-size: 18px;
  color: #977aff5e;
}
.current input:first-child:focus {
  border: 2px solid #ffa52d;
  outline: none;
}
.current input:nth-child(2) {
  width: fit-content;
  margin: 0 auto;
}
.current button {
  background-color: #977aff5e;
  margin: 0 auto 10px;
  border-color: #997ce9;
}
.current button:hover {
  background-color: #977aff;
}
.todo-card.true {
  opacity: 0.6;
  box-shadow: 0px 0px 15px 1px #ffa52d;
  background-image: linear-gradient(
    to bottom,
    #8296f2,
    #a8aef5,
    #c9c8f8,
    #e5e3fb,
    #ffffff
  );
}
